@using GraduationProjectBMS.Models;
@model Article
@{
    ViewData["Title"] = "Article Content";
    Layout = "_ArticleLayout";
}

<div class="container col-md-9" id="blogpost">
    <div class="col-md-12">
        <h1 class="display-5">
            @Model.ArticleTitle
        </h1>

        <p class="text-secondary">
            Created At : @Model.CreatedAt.ToString("dd-MM-yyyy") by @Model.UserFullName
        </p>

        <img src="~/ArticlesThumbnails/@Model.ArticleThumbnail" width="100%" alt="@Model.ArticleTitle"/>

        <div id="content">
            @Html.Raw(@Model.ArticleContent)
        </div>

        <form action="/Article/ToggleLike" method="post">
            <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-thumbs-up"></i></button>
        </form>

        <p>Likes: @(Model.Likes?.Count ?? 0)</p>
        
        <!--Comments-->
        <h3>Comments</h3>

        @{
            foreach (var x in ViewBag.ArticleComments)
            {
                <div class="card p-3">
                    <p>@x.UserId comments this : </p>
                    <p>@x.CommentContent</p>
                </div>    
            }
        }

        <p>Write a comment : </p>

        <form action="/Article/AddComment" method="post">
            <input type="text" name="CommentContent" class="form-control" placeholder="write comment"/>
            <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>

        <!--Replies-->
        <!--Tags-->
        <!--Related Articles-->
    </div>
</div>
