@using GraduationProjectBMS.Models;
@model Article
@{
    ViewData["Title"] = "Article Content";
    Layout = "_ArticleLayout";
}

<div class="container col-md-8" id="blogpost">
    <div class="col-md-12">
        <h1 class="display-5">
            @Model.ArticleTitle
        </h1>

        <p class="text-secondary">
            Created At : @Model.CreatedAt.ToString("dd-MM-yyyy") by @Model.UserFullName
        </p>

        <img src="~/ArticlesThumbnails/@Model.ArticleThumbnail" width="100%"/>

        <div id="content">
            @Html.Raw(@Model.ArticleContent)
        </div>
        <a href="#"><i class="fa-solid fa-heart"></i></a>
        <span>@Model.TotalLikes</span>
    </div>
</div>

