@{
    ViewData["Title"] = "Article Content";
    Layout = "_ArticleLayout";
}

<div class="container col-md-9" id="blogpost">
    <div class="col-md-12">
        <h1 class="display-5">
            @Model.ArticleTitle
        </h1>

        <p class="text-secondary">
            Created At : @Model.CreatedAt.ToString("dd-MM-yyyy") by @Model.UserFullName
        </p>

        <img src="~/ArticlesThumbnails/@Model.ArticleThumbnail" width="100%" alt="@Model.ArticleTitle"/>

        <div id="content">
            @Html.Raw(@Model.ArticleContent)
        </div>

        <form action="/Article/ToggleLike" method="post">
            <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
            <button type="submit" class="btn btn-primary">Like</button>
        </form>

        <p>Likes: @(Model.Likes?.Count ?? 0)</p>

        <!--Comments-->

        <h3>Comments</h3>

        
    </div>
</div>
