@using GraduationProjectBMS.Models;
@model List<Article>
@{
    ViewData["Title"] = "index page";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<a href="/Article/Create/" class="btn btn-primary">Create an article</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Thumbnail</th>
            <th>Created AT</th>
            <th>Edited AT</th>
            <th>Edit | Details | Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var x in Model)
            {
                <tr>
                    <td>@x.ArticleId</td>
                    <td>@x.ArticleTitle</td>
                    <td>@x.ArticleDescription</td>
                    <td>
                        <img src="/ArticlesThumbnails/@x.ArticleThumbnail" width="40"></img>
                    </td>
                    <td>@x.CreatedAt</td>
                    <td>@x.EditAt</td>
                    <td>
                        <a href="/Article/Edit/@x.ArticleId/" class="btn btn-dark">Edit</a>
                        <a href="/Article/Details/@x.ArticleId/" class="btn btn-warning">Details</a>
                        <a href="/Article/Delete/@x.ArticleId/" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <div class="modal" tabindex="-1" id="deleteModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to delete this article ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                <a type="button" class="btn btn-danger" href="/Article/Delete/@x.ArticleId">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </tbody>
</table>

